.gradient-custom {
    border: 1px solid green;
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 1.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.card.shadow-2-strong.card-registration {
    border-radius: 15px;
}

input[type=text],
input[type=tel],
input[type=password],
input[type=email],
input[type=number] {
    font-size: 0.8rem;
}

label {
    font-size: 1rem;
}

.h5 {
    font-weight: 300;
}

small {
    font-size: 12px;
    color: red;
}

.drop-down {
    font-size: 13px;
    background-color: #ffffff;
    font-weight: 300;
    border-style: none;
    border: 1px solid rgb(207, 204, 204);
}

u {
    color: blue;
}

h1{
    color: green;
}

.btn{
    width: 150px;
}
